body {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    background-color: lightblue;
    height: 200px;
}

.wrapper {
    margin: 50px auto auto auto;
    width: 950px;
    overflow: hidden;
}

.context {
    width: 650px;
    height: 1500px;
    float: left;
    margin-right: 50px;
    display: inline-block;
    background-color: pink;
}

.aside {
    width: 250px;
    height: 400px;
    float: right;
    position: relative;
    top: 0;
    display: inline-block;
    background: yellow;
}

.aside.snapped {
    position: fixed;
    top: 0;
}
